.container_small_card {
  margin-bottom: 15px;
}

.container_small_card_content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.small_card_image img {
  padding: 0 2% 15px 0;
  margin-right: 10px;
  width: 80%;
  max-width: 150px;
  min-width: 50px;
}

.small_card_text {
  display: flex;
  justify-content: center;
  align-items: center;
}
