<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container_articles">
    <div class="article_main">
        <app-big-card photo="../../../assets/img/a.jpeg" title="ART: A BRAZILIAN COUPLE MAKES HISTORY IN TORONTO "
            description="New people from Brazil have arrived in Greater Toronto last month. Among them, a couple from Brazil presents a remarkable piece of art made by hand in leather.">
        </app-big-card>
    </div>
    <div class="article_others">
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
    </div>
</div>