<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container_articles">
    <div class="article_main">
        <app-big-card photo="../../../assets/img/a.jpeg" title="ART: A BRAZILIAN COUPLE MAKES HISTORY IN TORONTO "
            description="New people from Brazil have arrived in Greater Toronto last month. Among them, a couple from Brazil presents a remarkable piece of art made by hand in leather.">
        </app-big-card>
    </div>
    <div class="article_others">
        <app-small-card photoSmall="../../../assets/img/b.jpg"
            titleSmall="Climate changes at the north coast and a big storm comes"></app-small-card>
        <app-small-card photoSmall="../../../assets/img/b.jpg"
            titleSmall="Canada offers a chance to the IT immigrants becoming citizens without any tests"></app-small-card>
        <app-small-card photoSmall="../../../assets/img/b.jpg"
            titleSmall="The summer promisses a lot o fan in Oakville and all areas close to water"></app-small-card>
    </div>
</div>