.container_articles {
  margin: 20px;
  display: flex;
}

.article_main {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.article_others {
  width: 50%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
